body {
    background-color: rgb(20, 20, 20);
    font-family: 'Ropa Sans', sans-serif;
}
h1 {
    position: relative;
    color: rgb(255, 255, 255);
    width: auto;
    text-align: center;
    font-size: 56px;
    text-shadow: 4px 4px rgb(50, 50, 50);
}
