body {
    background-color: rgb(20, 20, 20);
    font-family: 'Ropa Sans', sans-serif;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 76px;
    letter-spacing: 1px;
    text-shadow: 4px 4px rgb(50, 50, 50);
}
h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 4px 4px rgb(50, 50, 50);
}
h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: underline rgb(255, 255, 255);
}
h4 {
    color: rgb(255, 255, 255);
    margin-top: 525px;
    width: 99%;
    font-size: 32px;
    letter-spacing: 1px;
    text-shadow: 3px 3px rgb(50, 50, 50);
}
h5 {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 25px;
    bottom: -20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: 2px 2px rgb(50, 50, 50);
}
