body {
    background-color: rgb(20, 20, 20);
    font-family: 'Ropa Sans', sans-serif;
}
h1 {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 100%;
    text-alignment: center;
    font-size: large;
}
